/* main */
main {
  display: flex;
}

.image {
  width: 40%;
  height: 100%;
  opacity: 0.5;
  margin-right: 5%;
}

.image img {
  max-width: 90%;
}
.text {
  padding: 20px;
  width: 60%;
}

.typewriter h3 {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: typing 3.5s steps(50);
  color: var(--third-color);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.links {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.links a {
  background-color: var(--third-color);
  border: 1px solid var(--third-color);
  padding: 10px;
  border-radius: 20px;
}

/* Responsive */
@media screen and (max-width: 767px) {
  /* GENERAL */
  html {
    font-size: 5px;
  }

  main {
    flex-direction: column-reverse;
    margin-top: 20vh;
  }
  .image,
  .text {
    max-width: 100%;
  }
}
