:root {
  /* Colors */
  --first-color: #474646;
  --second-color: #4f402f;
  --third-color: #f56a0b;
  --fourth-color: #050302;
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------GENERAL--------------- */
/* -------------------------------- */
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem; /* Paragraphe standard */
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: var(--second-color);
  background-color: #f4ca98;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #723012;
  font-size: 16px;
}

li {
  list-style-type: none;
}

/* Titres et En-Têtes */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p,
li,
span {
  color: var(--second-color);
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 5vh auto;
  min-height: 90vh;

  background-image: url("./images/svg-background.svg");
  background-position: 100%;
  background-size: cover;
  padding: 0 20px;
}

.circle {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 2;
  background-image: url("../images//feuille.png");
  opacity: 0.2;
  top: 0;
  left: 0;
}

/* ---------------HEADER-------------- */
/* ---------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  text-align: center;

  padding: 20px;
  height: 12vh;

  width: 100%;

  position: relative;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  padding: 20px;
  transition: 0.25s;
  font-family: "Inter", sans-serif;
}

nav a:hover,
nav a:focus {
  color: #1d1a17;

  box-shadow: 0 0.5em 0.5em -0.4em #1d1a17;
  transform: translateY(-0.25em);
}

#hamburger {
  display: none;
}
#navlink {
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--fourth-color);
  color: var(--first-color);
  opacity: 0.8;
  position: absolute;
  right: -200px;
  padding: 20px;
  display: none;
}
#navlink.open {
  right: 0 !important;
  top: 10vh;
}

#navlink :hover {
  color: var(--third-color);
}

.social {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
  border-radius: 100% 0% 0% 100% / 46% 65% 35% 54%;
  position: fixed;
  top: 40%;
  right: 5%;
  z-index: 1;
  opacity: 0.7;
}
.social a {
  fill: #723012;
}
.social a :hover {
  cursor: pointer;
  fill: #1d1a17;
}
/* Footer */
footer {
  background-color: #3d1708;
  padding: 20px;
  width: 100%;
}
footer p,
footer a {
  color: white;
}
/* Responsive */
@media screen and (max-width: 767px) {
  /* GENERAL */
  html {
    font-size: 5px;
  }
  /* Header */
  .container {
    max-width: 767px;
  }
  nav {
    display: none;
  }
  #hamburger {
    display: flex;
  }
  #navlink {
    display: flex;
  }

  footer {
    position: relative;
  }
}
